@using Mimi.Model;

@model List<CityTile>

@{
    ViewData["Title"] = "Index";
}

<h2>Cidades da Wikipedia com maior número de atrações</h2>

<div class="row">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            var guid = Guid.NewGuid();

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">@item.Name <span class="badge pull-right">@item.PointsOfInterestCount</span></div>
                    <div class="panel-body">
                        <div class="tile-body block-with-text" id="@guid">@item.Abstract</div>
                        <hr />
                        <a asp-controller="Home" asp-action="Details" asp-route-cityName="@item.Name" asp-route-cityResource="@item.ResourceName">
                            
                                @if (!string.IsNullOrEmpty(item.CountryFlag?.OriginalString))
                                {
                                    <img src="@item.CountryFlag?.OriginalString" alt="Alternate Text" class="img-responsive" 
                                         style="max-height:120px; min-height: 120px; margin-left: auto; margin-right: auto;"/>
                                }
                                else
                                {
                                    <div style="text-align: center; min-height: 120px">
                                        <i class="glyphicon glyphicon-globe gi-4x" style="padding-top: 30px"></i>
                                    </div>
                                }

                        </a>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                var lastElementId = $(".block-with-text").last().prop("id");

                $("#" + lastElementId).dotdotdot({
                    // Options go here
                });
            </script>
        }
    }
    else
    {
        <h3>Failed :(</h3>
    }
</div>